body{
    background: #000;
}
p{
    font-family: 'Source Sans Pro', sans-serif;
    
}
.header{
    color: #fff;
    border-bottom: 1px solid #0078a0;
    }

.top-bar-section ul{
    margin: 10px 0;
}
.logo{
    font-family: 'Wire One', sans-serif;
    color: #fff;
    
}
.header h1{
     font-family: 'Wire One', sans-serif;
    color: #fff;
    margin: 9px 5px 0;
    
    line-height: 0.5;
}

.tagline{
    font-family: 'Poiret One', cursive;
    margin: 0 0 0 5px;
}

a{
    color: #fff;
}
.nav{
    margin-top: 40px;
    font-family: 'Poiret One', cursive;
}
.makeup{
    font-family:monospace
}
.content{
    margin: 20px 0;   
}
.content p{
    color: #fff;
}
.content h2{
     font-family: 'Wire One', sans-serif;
    color: #fff;
    font-size: 44px
}

.footer{
    border-top: 1px solid #0078a0;
    color: #fff;
    padding: 20px 0;

}
.large {
    font-size: 30px;
    line-height: 30px;
}
/*.content img{
    padding: 10px;
    margin:  5px;
    border: 1px solid #222;
    
}*/


 .description {
color: #fff;
display: block;

}
.top-bar {
    background: #000;
}
.top-bar-section li:not(.has-form) a:not(.button){
    background: #000;
}
.top-bar-section li:not(.has-form) a:not(.button):hover {
background: #2D215E;
}

.top-bar.expanded .title-area {
background: #000000;
}
